.header {
  width: 100%;
  padding-block: 10px;
  position: fixed;
  top: 0;
  left: 0;

  align-items: center;
  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid var(--border-color);

  // & a:has(:global(.active))
  & a:global(.active),
  a:global(.active) + a {
    color: var(--hover-color);
  }
}
