.header {
  width: 100%;
  padding-block: 10px;
  position: fixed;
  top: 0;
  left: 0;

  background-color: var(--primary-bg-color);
  border-bottom: 1px solid var(--border-color);
}

.header__wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;

  & a {
    font-weight: 600;
    transition: color 250ms;

    &:hover {
      color: var(--placeholder-color);
    }
  }

  & a:global(.active) {
    color: var(--hover-color);
  }
}

.login {
  margin-left: auto;

  a:global(.active) + a,
  & a:global(.active) {
    color: var(--hover-color);
  }
  // & a:has(:global(.active))
}
