.profile-btn {
  min-width: 36px;
  min-height: 36px;
  margin-left: auto;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background-color: var(--hover-color);
  background-size: cover;
  cursor: pointer;
  outline: 3px solid transparent;
  transition: outline-color 250ms;

  &:hover,
  &:focus {
    outline-color: var(--secondary-bg-color);
  }

  &::after {
    min-width: 36px;
    min-height: 36px;
    padding-bottom: 8px;

    display: flex;
    justify-content: center;
    align-items: end;

    font-weight: 600;
    font-size: 16px;
    font-family: var(--fontMontserrat);
    text-transform: uppercase;
    // color: var(--color-white); content: '';
  }
}
