:root {
  --btn-height-s: 30px;
  --btn-height-m: 40px;
  --btn-height-l: 50px;

  --btn-gap-s: 8px;
  --btn-gap-m: 10px;
  --btn-gap-l: 12px;

  --btn-font-xxs: 12px;
  --btn-font-xs: 14px;
  --btn-font-s: 16px;
  --btn-font-m: 18px;
  --btn-font-l: 20px;
}
