:root {
  --indent-xxs: 3px;
  --indent-xs: 5px;
  --indent-s: 10px;
  --indent-m: 20px;
  --indent-l: 35px;
  --indent-xl: 60px;
  --indent-xxl: 100px;

  --spacing-s: 0.02em;
  --spacing-m: 0.05em;
  --spacing-l: 0.1em;
  --spacing-xl: 0.2em;
}
