.button {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms;

  cursor: pointer;
  background: none;
  font-weight: 700;
}

//border
.orthogonal {
  border-radius: var(--indent-xs);
}

// size
.s {
  height: var(--btn-height-s);
  padding: var(--btn-gap-s);
  gap: var(--btn-gap-s);
  font-size: var(--btn-font-s);

  &.round {
    border-radius: calc(var(--btn-height-s) / 2);
  }
}

.m {
  height: var(--btn-height-m);
  padding: var(--btn-gap-m);
  gap: var(--btn-gap-m);
  font-size: var(--btn-font-m);

  &.round {
    border-radius: calc(var(--btn-height-m) / 2);
  }
}

.l {
  height: var(--btn-height-l);
  padding: var(--btn-gap-l);
  gap: var(--btn-gap-l);
  font-size: var(--btn-font-l);

  &.round {
    border-radius: calc(var(--btn-height-l) / 2);
  }
}

// variant
.default {
  background-color: var(--accent-color);
  color: var(--white-color);

  &:hover,
  &:focus {
    background-color: var(--hover-color);
  }
}

.outlined {
  border: 1px solid var(--border-color);
  color: var(--black-color);

  &:hover,
  &:focus {
    background-color: var(--border-color);
  }
}

.transparent {
  border: none;
  color: var(--black-color);
}

.disabled {
  border: none;
  background-color: var(--icon-color);
  color: var(--white-color);
}
